@model SephirLoginViewModel
@{
    ViewData["Title"] = "Edit Sephir account";
}


<form asp-controller="EditSephirAccount" asp-action="SaveSephirLogin">
    <h4>Edit your Sephir account</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="EmailAdress" class="control-label"></label>
        <input asp-for="EmailAdress" class="form-control"/>
        <span asp-validation-for="EmailAdress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Check & save data" class="btn btn-primary"/>
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
