@model OverviewViewModel
@{
    ViewData["Title"] = "Home";
}

<h1>SephirWatcher</h1>
<hr/>
<h3> This is a tool which notifies you when a new mark arrives in your Sephir account.</h3>
<hr/>
<a asp-controller="Home" asp-action="Overview" class="btn-dark btn">To your account-overview</a>